################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
bin/
obj/
/output
/HowItLooks/HowItLooks.csproj.user
